# Loading necessary libraries

In [1]:
import pandas as pd

# Importing the dataset

In [7]:
df = pd.read_csv("..\\..\\Datasets\\market_sales_data.csv")
df.head()

,Gender,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Tax 5%
0,Female,750-67-8428,A,Yangon,Member,Health and beauty,74.69,7,261.415
1,Female,226-31-3081,C,Naypyitaw,Normal,Electronic accessories,15.28,5,3.820
2,Female,355-53-5943,A,Yangon,Member,Electronic accessories,68.84,6,20.652
3,Female,315-22-5665,C,Naypyitaw,Normal,Home and lifestyle,73.56,10,36.780
4,Female,665-32-9167,A,Yangon,Member,Health and beauty,36.26,2,3.626

# Checking for duplicates

In [8]:
df.duplicated().sum()

np.int64(0)

No duplicates present within the dataset.

# Checking for nulls

In [9]:
df.isna().sum()

Gender           0
Invoice ID       0
Branch           0
City             0
Customer type    0
Product line     0
Unit price       0
Quantity         0
Tax 5%           0
dtype: int64

Also no nulls.

# Checking various information about the dataset

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender         1000 non-null   object
 1   Invoice ID     1000 non-null   object
 2   Branch         1000 non-null   object
 3   City           1000 non-null   object
 4   Customer type  1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   int64
 8   Tax 5%         1000 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 70.4+ KB

Here we can confirm that everything has the same amount of data (1000), as well as the data types for each column which seems to be appropriate for the data they provide.

In [16]:
df.shape

(1000, 9)

The shape tells us that this dataset contains 1000 rows and 9 columns.

In [13]:
df.describe()

        Unit price     Quantity       Tax 5%
count  1000.000000  1000.000000  1000.000000
mean     55.672130     5.510000    43.911392
std      26.494628     2.923431   100.551612
min      10.080000     1.000000     1.066000
25%      32.875000     3.000000     6.222500
50%      55.230000     5.000000    12.404000
75%      77.935000     8.000000    27.226250
max      99.960000    10.000000   985.000000

There are some outliers, most notably in the 'Tax 5%' column, but I think keeping them is the right call since they don't seem like an error in the data collection/entry process. We could always exclude them in the analysis in case they skew the results by a significant amount, affecting the accuracy of the analysis negatively. 

Therefore, we could consider this as a clean dataset and can now proceed to the actual analysis.